<h2><%= current_user.name %>さんが貸した記録</h4>
<% if @transactions.any? %>
  <% @transactions.each do |transaction| %>
    <% debtor = User.find(transaction.debtor_id) %>
    <p>貸した人：　　<%= debtor.name %></p>
    <p>貸した金額：　<%= transaction.debt %></p>
    <hr>
  <% end %>
<% else %>
  <p>現在貸している人はいません！</p>
<% end %>